.Screen {
    height: 18vh;
    width: 100%;
    background-color: rgb(34, 34, 34);
    transition: 1s;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: right;
    border-bottom: 4px solid white;
    
}
.Screen:hover{
    /* background-color: rgb(27, 27, 27); */
    transition: 1s;
}